@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #a52a2a;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  background-color: #eef;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}
.h2 {
  text-align: center;
  margin: 15px;
  margin-top: 0px;
}
.form {
  padding: 10px 20px;
}
.form_control {
  margin-bottom: 2px;
  padding-bottom: 5px;
  position: relative;
}
.form_control label {
  color: #666;
  margin-bottom: 2px;
  display: block;
}
.form_control input {
  border: 1px solid #888;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 5px;
}
.form_control input:focus {
  border: 2px solid #444;
}
.form_control.success input {
  border-color: var(--success-color);
}
.form_control.error input {
  border-color: var(--error-color);
}
.form_control small {
  color: var(--error-color);
  /*position: absolute;*/
  visibility: visible;
}
.form_control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #3498db;
  border-radius: 5px;
  width: 100%;
}
